<header class="sticky top-0 flex justify-center 
items-center py-5 w-full mx-auto 
shadow backdrop-blur-sm z-10 border-b border-gray-600"
>
    <nav class="flex flex-row gap-x-16 opacity-80">
        <a href="#top">Home</a>
        <a href="#about">About</a>
        <a href="#experience">Experience</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact</a>
    </nav>
</header>